# Ignore Python virtual environment directories
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo

# Ignore distribution and packaging files
*.egg
*.egg-info/
dist/
build/

# Ignore IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore .env files
*.env
.scrapy/*
.celery/*
docker-compose.yml
celerybeat-schedule.db
VERSION

watercrawl_llm/*
.qola/*
celerybeat-schedule*

*.mo