@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }

  :root {
    /* ============================================ BASE COLORS =========================================== */
    --background: 249 250 251;
    --foreground: 17 24 39;
    --card: 255 255 255;
    --card-foreground: 17 24 39;
    --muted: 243 244 246;
    --muted-foreground: 107 114 128;
    --border: 229 231 235;
    --input-border: 209 213 219;
    --input: 255 255 255;
    --ring: 0 76 164;
    /* ============================================ PRIMARY/BRAND COLORS =========================================== */
    --primary: 15 124 251;
    --primary-foreground: 255 255 255;
    --primary-hover: 4 104 222;
    --primary-soft: 234 239 246;
    --primary-strong: 0 76 164;
    --secondary: 235 37 137;
    --secondary-foreground: 255 255 255;
    --secondary-hover: 212 19 117;
    --secondary-soft: 246 234 240;
    --secondary-strong: 168 2 86;
    --tertiary: 105 54 170;
    --tertiary-foreground: 255 255 255;
    --tertiary-hover: 86 44 139;
    --tertiary-soft: 239 236 244;
    --tertiary-strong: 56 20 102;
    --success: 34 197 94;
    --success-foreground: 255 255 255;
    --success-hover: 28 162 77;
    --success-soft: 234 245 238;
    --success-strong: 9 120 50;
    --error: 239 68 68;
    --error-foreground: 255 255 255;
    --error-hover: 236 30 30;
    --error-soft: 246 234 234;
    --error-strong: 204 1 1;
    --warning: 234 179 8;
    --warning-foreground: 17 24 39;
    --warning-hover: 195 149 7;
    --warning-soft: 246 243 234;
    --warning-strong: 140 106 0;
    --info: 59 130 246;
    --info-foreground: 255 255 255;
    --info-hover: 20 105 244;
    --info-soft: 234 238 246;
    --info-strong: 0 77 203;
  }

  .dark {
    /* ============================================ BASE COLORS - Dark Mode =========================================== */
    --background: 17 24 39;
    --foreground: 243 244 246;
    --card: 31 41 55;
    --card-foreground: 243 244 246;
    --muted: 43 53 68;
    --muted-foreground: 156 163 175;
    --border: 55 65 81;
    --input-border: 75 85 99;
    --input: 31 41 55;
    --ring: 14 165 233;
    /* ============================================ PRIMARY/BRAND COLORS - Dark Mode =========================================== */
    --primary: 15 124 251;
    --primary-foreground: 255 255 255;
    --primary-hover: 55 146 252;
    --primary-soft: 18 30 43;
    --primary-strong: 191 220 253;
    --secondary: 235 37 137;
    --secondary-foreground: 255 255 255;
    --secondary-hover: 238 74 157;
    --secondary-soft: 43 18 31;
    --secondary-strong: 253 198 226;
    --tertiary: 105 54 170;
    --tertiary-foreground: 255 255 255;
    --tertiary-hover: 125 69 196;
    --tertiary-soft: 30 23 39;
    --tertiary-strong: 197 168 234;
    --success: 34 197 94;
    --success-foreground: 255 255 255;
    --success-hover: 52 220 114;
    --success-soft: 20 41 28;
    --success-strong: 164 245 194;
    --error: 239 68 68;
    --error-foreground: 255 255 255;
    --error-hover: 242 106 106;
    --error-soft: 43 18 18;
    --error-strong: 254 215 215;
    --warning: 234 179 8;
    --warning-foreground: 17 24 39;
    --warning-hover: 247 196 35;
    --warning-soft: 43 37 18;
    --warning-strong: 253 232 168;
    --info: 59 130 246;
    --info-foreground: 255 255 255;
    --info-hover: 98 155 248;
    --info-soft: 18 28 43;
    --info-strong: 215 230 254;
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1e40af 0%,
    /* blue-800 */ #3b82f6 29%,
    /* blue-500 */ #60a5fa 67%,
    /* blue-400 */ #93c5fd 100% /* blue-300 */
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

:root.dark .animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #bfdbfe 0%,
    /* blue-200 */ #60a5fa 29%,
    /* blue-400 */ #3b82f6 67%,
    /* blue-500 */ #1d4ed8 100% /* blue-700 */
  );
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
