@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1e40af 0%,    /* blue-800 */
    #3b82f6 29%,   /* blue-500 */
    #60a5fa 67%,   /* blue-400 */
    #93c5fd 100%   /* blue-300 */
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

:root.dark .animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #bfdbfe 0%,    /* blue-200 */
    #60a5fa 29%,   /* blue-400 */
    #3b82f6 67%,   /* blue-500 */
    #1d4ed8 100%   /* blue-700 */
  );
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
