<!-- templates/admin/base_site.html -->
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block usertools %}
  {{ block.super }}
  <form action="{% url 'set_language' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <select name="language" onchange="this.form.submit()">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% for lang_code, lang_name in LANGUAGES %}
        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
          {{ lang_name }}
        </option>
      {% endfor %}
    </select>
  </form>
{% endblock %}
